h2{
    color: cornflowerblue;
 
}
p{
    color: rgb(3, 3, 95);
}
#a{
    color: rgb(77, 59, 243);
}
.b{
    color: royalblue;
}

#d1{
    width: 561px;
    height: 402px;
    background-color: rgb(25, 25, 231);
    color: white;
}
#d2 p{
    width: 561px;
    color:rgb(80, 78, 190);
}